<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Question & Answer</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.min.css') }} ">

  <link rel="stylesheet" href=" {{  url_for('static', filename='theme.css' )}} ">
  
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Questions & Answers <small><span>{{current_user.name}} admin: {{current_user.is_admin}} expert:{{current_user.is_expert}}</span></small>  </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if current_user.is_expert==True and current_user.is_admin==False %}
          <li><a href="{{url_for( 'answer' )}}">Answer Questions</a></li>
          <li><a href="{{url_for( 'unanswered' )}}">unanswered Questions</a></li>
          <li><a href=" {{url_for('logout') }}">Logout</a></li>

          {% endif %}
          {% if current_user.is_authenticated and  current_user.is_expert==False and current_user.is_admin==False %}
              <li class="active"><a href="{{url_for( 'home' )}}">Home</a></li>
              <li><a href="{{url_for( 'ask' )}}">Ask Question</a></li>
              <li><a href="{{url_for( 'question' )}}">Answered questions</a></li>
              <li><a href=" {{url_for('logout') }}">Logout</a></li>
            {% endif %}
              <!-- checking if logged user is an expert -->

              <!-- checking if user is admin -->
              {% if current_user.is_admin==True and current_user.is_expert==True %}
              <li><a href="{{url_for( 'users' )}}">User Setup</a></li>
              <li><a href="{{url_for( 'unanswered' )}}">unanswered Questions</a></li>
              <li><a href=" {{url_for('logout') }}">Logout</a></li>
              {% endif %}
              
         
          {% if current_user.is_authenticated==False %}
          <li><a href="{{url_for( 'login' )}}">Login</a></li>
          <li><a href="{{url_for( 'register' )}}">Register</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!-- flashing messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}

  <!-- form content goes here -->
  {% endblock %}
</body>

</html>